* {
     margin: 0;
     border: 0;
     box-sizing: border-box;
 }

 html {
     font-size: 62.5%;
 }

 body {
    background-color:#F9F8F6;
 }

 .menu {
     display: flex;
     background-color: olive;
     width: 650px;
 }

 .menu_list {
     display: flex;
     gap: 60px;
     margin-top: 85px;
     flex-direction: column;
     
 }

 .link_menu {
     text-decoration: none;
     color: black;
     transition: .2s ease-in-out;
 }

 .link_menu:hover {
     font-size: 6rem;
     color: black;
 }

 .menu_items {
     list-style: none;
     font-size: 40px;
 }