.menuo_list{
    display: flex;
    align-items: center;
    margin: auto;
    flex-direction: row;
}

.link_menuo {
    color: black;
    cursor: pointer;
    list-style: none;
    text-decoration: none;
}


.menuo_items {
    width: 200px;
    height: 200px;
    font-size: 3rem;
    list-style: none;
    color: black;
    text-decoration: none;
}

