
main {
    width: calc(100% - 600px);
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    border:  solid black ;
}

.menuo_list {
    display: flex;
    align-items: center;
    margin: auto;
    flex-direction: row;
}

.link_menuo {
    display: flex;
    align-items: center;
    margin: auto;
    flex-direction: column;
    color: black;
    cursor: pointer;
    list-style: none;
    text-decoration: none;
}


.menuo_items {
    width: 200px;
    height: 200px;
    font-size: 3rem;
    list-style: none;
    color: black;
    text-decoration: none;
    flex-direction: column;
}

.menuo_logo {
    width: 50px;
}

.menuo_nombre {
    font-size: 2rem;

}